body { font-size: 0.8em; }

table {
	border-spacing: 1px;
	background-color:#e7e7e7;
	width: 100%;
}
thead th {
	background: url(bg_th.png) repeat-x;
	border: 1px solid #fff;
	color: #455995;
	padding: 4px;
	text-align: center;
}

tbody tr td.topic, tbody tr td.forum {
	text-align: left;
	width: 55%;
} 

tbody tr td { 
	background: #fff;
	border: 1px solid #fff;
	padding: 0.5em;
	text-align: center;
}

table td a:link, table td a:visited {
	color: #485c97;
	text-decoration: none;
}

table td a:hover { color: #f00; }
tbody td a { font-weight: bold; }

html {
	background: #fff url(bg_body.png) repeat-x;
	font-family: verdana, arial, sans-serif;
}
input {
	font-family: verdana, arial, sans-serif;
}

div#holder p#powered {
	background: url(bg_footer.png);
        font-size: 0.75em;
        margin: 0;
        padding: 0.75em;
}
fieldset { margin-top: 1em; }

form#login label {
	float: left;
	width: 5.5em;
}

form#search label {
	float: left;
	width: 8.5em;
}

form#register label {
	float: left;
	width: 7.5em;
}
form#login fieldset {
	width: 27%;
}

form#search fieldset {
	margin-bottom: 1em;
	width: 50%;
}

table#topic tbody td {
	text-align: left;
	vertical-align: top;
}

table#topic tbody td p:first-child {
	font-size: x-small;
	margin: 0;
	padding: 0;
}

ul { list-style-type: square; }

form#install fieldset {
	margin-bottom: 1em;
	width: 60%;
}

div#holder {
	background: #fff url(bg_header.png) repeat-x;
	border: 1px solid #a0a0a0;
	margin: 2em auto 1em auto;
	width: 90%;
}

div#content {
	border-bottom: 1px solid #2b438f;
	padding: 0 1em;
}

h1 {
	border-bottom: 0;
	font-size: 1.2em;
	margin: 0;
	padding: 0.5em;
}

ul#menu, ul#menu-admin {
	background: #fff url(bg_nav.png) repeat-x;
	border: 1px solid #2b438f;
	border-width: 1px 0;
	height: 17px;
	list-style: none;
	margin: 0;
	padding: 0.3em 0 0.3em 0.5em;
}

ul#menu-admin { border-width: 0 0 1px 0.35em; }

ul#menu li, ul#menu-admin li {
	display: inline;
	margin: 0 0.5em 0 0;
}

ul#menu li a, ul#menu-admin li a {
	color: #334c9a;
	padding: 0.3em 0;
	text-decoration: none;
}

ul#menu li a:hover, ul#menu-admin li a:hover {
	color: #f00;
}

form {
	margin: 0;
	padding: 0;
}

form.mod, form.admin, form.users, form.delete {
	display: inline;
}


form.mod input {
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}
div.category h2 { font-size: 1em; }

ul#post-support {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#post-support li {
	display: inline;
	padding-right: 0.5em;
}

ul#site-info {
	font-size: 0.9em;
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}
ul#post-support {
	position: relative;
	top: -3em;
}
input#post-submit {
	position: relative;
	top: 1.5em;
}

pre {
	font-family: monospace;
	line-height: 50%;
}

div.category {
	background: url(bg_h2.png) repeat-x;
	border: 1px solid #2b438f;
	margin: 1em 0;
	padding: 1px;
}

div.category h2 {
	background: url(h2_arr.png) 0 2px no-repeat;
	color: #fff;
	height: 22px;
	padding: 5px 0 0 18px;
}

table#topics, table#topic { margin-bottom: 1em; }

/* don't know if this works browser-wide */
table#topic thead tr th:first-child { width: 1px; }

body.cancel input.button {
	margin-bottom: 1em;
}
